<table>
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">NOME</th>
            <th scope="col">EMAIL</th>
            <th scope="col">CELULAR</th>
        </tr>
    </thead>
    <tbody>
        <th>ID</th>
        <th>NOME</th>
        <tr>EMAIL</th>
        <th>CELULAR</th>
    </tbody>
</table>