<!DOCTYPE html>
<html lang="pt-BR">
  
<%- include('../Partials/head') %>


  <body>

<%- include('../Partials/menu'); %>

    <section class="container">
      <!-- <header>
        <a href="" class="logo">LOGO</a>
        <nav>
        <a href="">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/cadastro">Cadastro</a>
        <a href="/login">Login</a>
        </nav>
        </header> -->

  


      <div class="image_container">
        <h1>Crie sua conta</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
      <img src="/static/Images/sceptile.jpg" class="imagem">
    </section>
    <%- include('../Partials/footer') %>
  </body>
</html>
