<!DOCTYPE html>
<html lang="pt-BR">

<%- include('../Partials/head') %>

  <body>

    <%- include('../Partials/menu'); %>

    <section class="container">
      <!-- <header>
        <a href="" class="logo">LOGO</a>
        <nav>
        <a href="">Home</a>
        <a href="/sobre">Sobre</a>
        <a href="/cadastro">Cadastro</a>
        <a href="/login">Login</a>
        </nav>
        </header> -->
      

      <div class="image_container">
        <h1>Bem vindo</h1>
        <p>
          Compartilhe suas aventuras e <br />
          descubra novos lugares ao redor do mundo!
        </p>
      </div>
      <form id="cadastroForm" action="login.ejs" method="post">
        <div class="title">
          <h1>Login</h1>
          <p>Preencha os campos abaixo e entre na nossa comunidade</p>
        </div>
        <div class="input_data">
          <input type="text" id="nome" name="nome" required />
          <label for="">Nome</label>
        </div>
         <div class="input_data">
          <input type="password" id="password" name="password" required />
          <label for="">Senha</label>
        </div>
        <div class="btnArea">
          <p class="msgError"></p>
          <button id="btnSubmit" type="submit">Enviar</button>
        </div>
      </form>
    </section>

    <%- include('../Partials/footer') %>

  </body>
</html>
