<!DOCTYPE html>
<html lang="ptbr">


    <%- include('../Partials/head'); %>


<body>

    <header>
        <%- include('../Partials/menu'); %>       
    </header>

    <main class="container">
        <div class="texto3">
            <h1>usuario ja cadastrado tente novamente</h1>
        </div>
    </main>

    <footer>
        <%- include('../Partials/footer'); %>
    </footer>
</body>